*{
    margin: 0;
    padding: 0;
}

body{
    
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/2.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
}

.form{
    width: 570px;
    height: 520px;
    margin: 20px auto;
    background-color: transparent;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.1);
    border-color: #534b4b;
    border-style: solid;
    border-width: 1px;
    backdrop-filter: blur(8px);  

}
.form .label{
    
    color: #ff7200;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.sign{
    margin-left: 20px;
}
.link .sign:hover{
    color: #fff;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-left: 170px;
}

.form input{
    width: 160px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    margin-left: 20px;
}
.form .address-input{
    width: 450px;
}
.address-con{
    text-align: start;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    margin-top: 20px;
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.content{
    display: flex;
}


.alert {
    text-align: center;
    width: 30%;
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: larger;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    
}

.show {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    cursor: pointer;
}

.close-button {
    background-color: #ee1707;
    border: none;
    color: white;
    height: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #915c17;
}