body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.main{
    width: 100%;
    background-image:url(form-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.logout-link{
    float: right;
}

#form-container {
    max-width: 700px;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    backdrop-filter: blur(10px);
}


label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input{
    text-align: center;
}
input,
textarea {
    color: #fff;
    width: 300px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
   
}

.address{
    color: #fff;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}
input[type="file"] {
    margin-bottom: 20px;
    color: #fff;
}

input[type="submit"] {
    background-color: #ff7200;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    transition: .3s ease;
}


input[type="submit"]:hover {
    background-color: #fff;
}

.side-by-side {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.input-container{
    margin-left:20px; 
}

#clientName,
#clientemail,
#clientid,
#clientmobile,
#clientposition,
#clientstate,
#companyName,
#companyEmail {
    flex: 10px;
}

.client{
    margin-top: 10px;
}
.detail-heading{
    text-align: center;
    color: #ff7200;
}